<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppPublicCert" value="-----BEGIN PUBLIC KEY-----
      MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEP19sOfqSaGVzQjvNU+MTEfk8ZhaGJOnhtZGDC/Bw
      T61E+kH5cbQ12LBPYUs1QKL6uQx8MN7w/F37f5scLAF8rg==
      -----END PUBLIC KEY-----" />

    <add key="UserAppPrivate" value="-----BEGIN PRIVATE KEY-----
      MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgRQDyIYYTGjG+hJdl
      TH7hXQLzYdIeLRNN98D27jjhywGgCgYIKoZIzj0DAQehRANCAATMuK3yrJklBlpB
      jZbI6Hhq5tZa4riFdnZF3Uye6RJlzqNsbuQ3KPzgTctVcEAhmuqUBxlw8MPsFhHB
      62ooCYfu
      -----END PRIVATE KEY-----" />
  </appSettings>
</configuration>